<ul>
<% if @location.errors.any? %>
  <% @location.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
</ul>
<br>

<%= form_for @location do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :region %>
  <%= f.collection_select :region_id, Region.all, :id, :name %>

  <%= f.submit %>
<% end %>
