<ul>
<% if @location.errors.any? %>
  <% @location.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
</ul>
<br>

<div class="form">
  <h6><%= form_for @location do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <%= f.label :region_id %><br>
    <%= f.collection_select :region_id, Region.all, :id, :name, include_blank: 'Unknown' %><br>
    <div class="form-button"><%= f.submit %></div>
    <% end %>
  </h6>
</div>
