<h1>All Locations</h1>

<div>
<h3>Filter Locations:</h3>
<div class="form">
  <h6><%= form_tag('/locations', method: "get") do %>
    <%= collection_select :location, :region_id, Region.all, :id, :name, include_blank: true %>
    <div class="search-button"><%= submit_tag ("Filter") %></div>
    <% end %>
  </h6>
</div>

<%= form_tag("/locations", method: "get") do %>
  <%= hidden_field_tag(:region_id, value = nil) %>
  <%= submit_tag ("Clear Filter") %>
<% end %>

<% @locations.sort_by {|l| l.name}.each do |location| %>
<%= link_to location.name, location_path(location) %>
<br>
<% end %>

<%= link_to "Create new location", new_location_path %>
