<h1>All Locations</h1>

<h4>Most Popular Locations:</h4>
<% Location.most_characters.each do |l| %>
  <li><%= link_to l.name, location_path(l) %></li>
<% end %><br>

<div>
<h3>Filter Locations by Region:</h3>
<div class="form">
  <h6><%= form_tag('/locations', method: "get") do %>
    <%= collection_select :location, :region_id, Region.all, :id, :name, include_blank: 'Unknown' %>
    <%= submit_tag ("Filter") %>
    <% end %>
  </h6>
</div>

<div class="form">
  <h6><%= form_tag("/locations", method: "get") do %>
    <%= hidden_field_tag(:region_id, value = nil) %>
    <div class="form-button"><%= submit_tag ("Clear Filter") %></div>
    <% end %>
  </h6>
</div><br>

<% @locations.sort_by {|l| l.name}.each do |location| %>
<h4><%= link_to location.name, location_path(location) %></h4>
<br>
<% end %>

<button><%= link_to "Create New Location", new_location_path %></button>
