<h1>All Characters</h1>

<h4>Most Popular Characters:</h4>
<% Character.most_popular.each do |c| %>
  <li><%= link_to c.name, character_path(c) %></li>
<% end %><br>

<h4>Characters With The Most Titles:</h4>
<% Character.most_titles.each do |c| %>
  <li><%= link_to c.name, character_path(c) %></li>
<% end %><br>

<h5>Search Characters by Region, House, or Character</h5>

<div class="error">
  <%= flash.notice %>
</div>

<div class="form">
  <h6><%= form_tag(characters_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <div class="form-button"><%= submit_tag ("Search") %></div>
    <% end %>
  </h6>
</div>

<div class="form">
  <h6><%= form_tag(characters_path, method: :get) do %>
    <%= hidden_field_tag(:search, value = nil) %>
    <div class="form-button"><%= submit_tag ("Clear Filter") %></div>
    <% end %>
  </h6>
</div>

<div>
  <% @characters.each do |character| %>
    <%= link_to character.name, character_path(character) %>
    <%= link_to '<i class="add-button fas fa-plus-circle"></i>'.html_safe, "/user_characters/new/#{character.id}" %>
      <br>
    <% end %>
</div>

<button><h4><%= link_to "View My Characters", user_characters_path %></h4></button>
