<h1>All Characters</h1>
<h5>Search by Region, House, or Character</h5>

<div class="error">
  <%= flash.notice %>
</div>

<div class="form">
  <h6><%= form_tag(characters_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <div class="search-button"><%= submit_tag ("Search") %></div>
    <% end %>
  </h6>
</div>

<div class="form">
  <h6><%= form_tag(characters_path, method: :get) do %>
    <%= hidden_field_tag(:search, value = nil) %>
    <div class="search-button"><%= submit_tag ("Clear Filter") %></div>
    <% end %>
  </h6>
</div>


<div>
  <% @characters.each do |character| %>
    <%= link_to character.name, character_path(character) %>
      <%= link_to action: "/user_characters/new", id: @character.id } %>
        <i class="add-button fas fa-plus-circle"></i>
      <% end %>
    <!-- <a href= <%= "/user_characters/new/#{character.id}"%><i class="add-button fas fa-plus-circle"></i></a><br> -->
    <% end %>





</div>

<button><h4><%= link_to "View My Characters", user_characters_path %></h4></button>
