<h1>All Characters</h1>

<h4>Search by Region, House, or Character</h4>

<div class="error">
  <%= flash.notice %>
</div>

  <%= form_tag(characters_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>

  <%= form_tag(characters_path, method: :get) do %>
    <%= hidden_field_tag(:search, value = nil) %>
    <%= submit_tag ("Clear Filter") %>
  <% end %>

<br>

<% @characters.each do |character| %>
<%= link_to character.name, character_path(character) %>
<%= link_to "Add to My Characters", "/user_characters/new/#{character.id}" %>
<br>
<% end %>

<%= link_to "View My Characters", user_characters_path %>
