<!-- <div class="logo"><%= image_tag "logo_got.png" %></div> -->
<div class="logo-background"><%= image_tag "fire_ice_logo.jpg" %></div>

<h2>Welcome to the Game of Thrones Tracker</h2>
<h5>Keep track of all your characters as you watch the show! Ready to get started?</h5><br>
<button><%= link_to "Sign Up for Free", new_user_path %><br></button>

<button><%= link_to "View All Characters", characters_path %><br></button>
<button><%= link_to "Add New Character", new_user_character_path  %></button>
