

<ul>
  <% if @user_character.errors.any? %>
    <% @user_character.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</ul>
<br>

<div class="form-group has-warning has-feedback">
  <h5><%= form_for @user_character do |f| %>
    <%= f.label :character %>
    <%= f.collection_select :character_id, Character.all, :id, :name %>
    <%= f.label :status %>
    <%= f.select(:status, ["unknown", "alive", "dead"]) %>
    <%= f.label :region_id %>
    <%= f.collection_select :region_id, Region.all, :id, :name, include_blank: 'Unknown' %>
    <%= f.label :note %>
    <%= f.text_area :note %>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
    <button><%= f.submit %></button>
  <% end %></h5>
</div>
