<h1><%= @user_character.character.name %></h1>
House: <% if @user_character.house %>
  <%= link_to @user_character.house.name, house_path(@user_character.house) %>
<% else %>
  unknown house
<% end %><br>
Status: <%= @user_character.status %><br>
Location: <% if @user_character.location.name %>
  <%= link_to @user_character.location.name, location_path(@user_character.location) %><br>
  in Region <%= @user_character.location.region.name %>
<% else %>
  unknown
<% end %>

<br>
<% if @user_character.note %>
Note: <%= @user_character.note %><br>
<% end %>
<br>
<%= link_to "Edit this Character", edit_user_character_path(@user_character) %><br>
<%= link_to "Delete this Character", user_character_path(@user_character), method: "delete", data: {confirm: "Delete this character?"} %><br>
<%= link_to "Back to My Characters", user_path(session[:user_id]) %>
