<h1>All Regions</h1>

<h4>Regions with the Most Houses:</h4>
<% Region.most_houses.each do |r| %>
  <li><%= link_to r.name, region_path(r) %></li>
<% end %><br>

<div class="form">
  <h5>Filter Regions:</h5>
  <%= form_tag("/regions", method: "get") do %>
    <%= select_tag "filter", options_for_select(["has houses"]), include_blank: true %>
    <%= submit_tag "Filter" %>
    <% end %>
  </h6>
</div>

<%= form_tag("/regions", method: "get") do %>
  <%= hidden_field_tag("filter", value = nil) %>
  <%= submit_tag ("Clear Filter") %>
<% end %><br>

<% @regions.sort_by {|r| r.name}.each do |region| %>
<%= link_to region.name, region_path(region) %>
<br>
<% end %>
